body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.heading{
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: #00B7FF;
}

.locmap{
  background-image: url('/images/map.jpeg');
  background-size: 300px;
  height: 200px;
  width: 300px;
}