extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Food Hut best place to enjoy your food along with your  loved ones..
        | <br /><br />
      Home Delivery: Yes, within the immediate area.Parking On Weekdays/Weekends: Easy.Stop by at this 'fully air-conditioned' tiny eatery for a quick bite. It can barely accommodate five people, so it's best you order your food and get it packed. Specialising in outdoor catering, Food Hut has nothing unusual on the menu, yet it has everything you'd need on a day when you aren't in the mood to indulge. From sandwiches, stuffed rolls and biryanis to mini-meals, chhole and aloo paranthas with dahi, there's something for every need.