extends layout
block content
  link(rel='stylesheet', href='/stylesheets/form.css')
  .form-block
    form(method="POST")
      label(for="name") Item Name:
      input#name(type="text", name="name", required)
      
      label(for="price") Item Price:
      input#price(type="text", name="price", required)
      
      label(for="opening") Rating:
      input#rating(type="text", name="rating")

      label(for="image") Image Path:
      input#image(type="text", name="image", required)
      
      button(type="submit") Create Item
