extends layout
block content
    .row.banner
        .col-12
        h1.head Food Hut
        h2.heading Find the best food here...
    .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href="/location") Non-veg Biryanis
                        .tail
                        small &nbsp;
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart-empty
                            span.glyphicon.glyphicon-heart-empty                       
                    p.facilities
                        span.badge.badge-warning spicy
                        span.badge.badge-warning mild...
                        span.badge.badge-warning normal 
                    h4
        .col-12.col-md-4
