extends layout
block content
    .row.banner
        .col-12
            h1.font BEST ITEM HERE
            .tail1
            p MUTTON BIRYANI 
            p PRICE : 40$
            small &nbsp;
                span.glyphicon.glyphicon-heart
                span.glyphicon.glyphicon-heart
                span.glyphicon.glyphicon-heart
                span.glyphicon.glyphicon-heart-empty
                span.glyphicon.glyphicon-heart-empty   

    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.far.fa-star
                        i.far.fa-star  
                    .card.card-primary
                .col-12.col-md-6.location-map
                    .card.card-primary
                        .card-block
                            
    .row
        .col-12
            .card.card-primary.review-card
                .card-block
                    a.btn.btn-primary.float-right(href='/location/review/new') Add review
        .col-12.col-lg-3
