extends layout
block content
    .row.banner
        .col-12
        h1 Online Food Ordering
        h1.heading FOOD OREDER KARLO BHAI
    .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href="/location") Madhavi
                        small &nbsp;
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart-empty
                            span.glyphicon.glyphicon-heart-empty                       
                        span.badge.pull-right.badge-default 100m
                    p.address 125 High Street, Reading, RG6 1PS
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi 
                    h4
                        a(href="/location") Wasif Franchise
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty                       
                        span.badge.pull-right.badge-default 100m
                    p.address 125 Medsipally,hyderabad 
                    p.facilities
                        span.badge.badge-warning KALYANI BIRYANI
                        span.badge.badge-warning MUTTON MULFHA
                        span.badge.badge-warning MURG MUSSLAM 
        .col-12.col-md-4
