extends layout

block content
    .row.banner
        .col-12
            h1.head Food Hut
            h2.heading Find the best food here...

    .row
        .col-12.col-md-8
            .card
                .card-block

                    each location in locations
                        h4
                            a(href="/location/" +location.id)= location.name
                            small &nbsp;

                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart
                            span.glyphicon.glyphicon-heart-empty
                            span.glyphicon.glyphicon-heart-empty   
                            .tail                    
                        p.features
                            span.badge.badge-warning SPICY
                            span.badge.badge-warning MILD
                            span.badge.badge-warning FRIED
        .col-12.col-md-4
